/* body {
    background-color: yellow;
}

h1 {
    color: red;
    margin-right: 30px;
}


p {
  color: green;
} */

.over-artikkel {
    margin: 0;
    padding: 10px;
    background-color: lightgray;
}

.under-artikkel {
    margin: 10px;
    paddin: 10px;
    background-color: red;
}
 
.over-artikkel > h1, .browser {
    margin: 10px;
    padding: 5px;
}

.under-artikkel > h1, .browser {
    margin: 10px;
    padding: 5px;
}

  
.browser {
    background: white;
}
  
.browser > h2, p {
    margin: 4px;
    font-size: 90%;
}

.preview {
    display: inline-block;
    margin: 0 40px 0 0;
}